<!-- Trang chủ -->
<!-- flex-row-reverse để khi thu nhỏ news sẽ được hiển thị lên trên -->
<div class="row d-flex flex-row-reverse">

    <!-- Thông báo mới -->
    <div class="col-md-3 home-new-noti">
        <div class="row mt-5 p-2 border border-secondary rounded bg-white">
            <div class="col-md-12 d-flex d-ro text-center">
                <b class="mr-3"> <i class="bi bi-stars text-danger mr-1"></i>THÔNG BÁO MỚI</b>
                <a href="/noti/notifications">xem tất cả</a>
            </div>
            <hr>
            <!-- danh sách 4 thông báo mới nhất -->
            <% notifications.forEach(notification => { %>
                <div class="col-md-12 border rounded mb-2">
                    <div class="text-secondary">
                        [<%= notification.department %>] - <%= notification.create_on %> 
                    </div>
                    <div class="my-2">
                        <a href="/noti/notification/<%= notification._id %>"><b><%= notification.title %></b></a>
                    </div>
                    <div>
                        <p class="noti-content-3line"><%= notification.content %></p>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
 
    <!-- Dòng thời gian -->
    <div class="col-md-9">
        <!-- Sinh viên đăng bài viết -->
        <% if (user.role === 'student') { %> 
            <div class="col-md-12 mt-3 p-3 border border-secondary rounded bg-white">
                <div class="mb-3 d-flex d-row">
                    <img class="mr-2 rounded-circle" src="<%= user.avatar %> " alt="Avatar user" width="35px" height="35px">
                    <input type="text" name="blog-text" class="form-control border rounded-pill" id="home-student-post" placeholder="Bạn đang nghĩ gì?">
                </div>
                <div class="d-flex justify-content-between ">
                    <button type="button" class="btn btn-outline-success blog-image" onclick="addImage()"> 
                        <i class="bi bi-images"></i>
                        &nbsp;Thêm ảnh
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick="addVideo()"> 
                        <i class="bi bi-youtube"></i>
                        &nbsp;Thêm video
                    </button>
                    <button id="addNewBlog" type="button" onclick="addBlog(this)" class="btn btn-outline-primary" data-blogVideo="" data-userID="<%= user._id%>">Đăng</button>
                </div>
                <div class="blog-upload mt-1 text-center">

                </div>
            </div>
        <% } %> 

        
        <!-- Bài viết -->
        <!-- ajax load bài viết mới -->
        <div class="newBlog d-flex flex-column-reverse">
            
        </div>
        <!-- Tất cả bài viết -->
        <% blogs.forEach(blog => { %>
            <div class="col-md-12 border rounded p-3 mt-3 bg-white" id="<%= blog._id %>">
                <!-- Người đăng -->
                <div class="d-flex justify-content-between">
                    <div class="d-flex d-row">
                        <img class="mr-2 rounded-circle mt-2" src="<%= blog.userAvatar %> " alt="Avatar user" width="35px" height="35px">
                        <div class="flex-column">
                            <a href="/user/profile/<%= blog.userID %>" class="text-dark"><b><%= blog.userName %></b></a>
                            <p class="text-secondary fs-smaller"><%= blog.create_on %></p>
                        </div>
                    </div>
                    <!-- sửa/xóa -->
                    <% if (user._id == blog.userID || user.role == 'admin') { %> 
                        <div class="dropdown">
                            <button type="button" class="btn bi bi-three-dots rounded-pill" data-toggle="dropdown"></button>
                            <div class="dropdown-menu">
                                <div class="dropdown-item" data-blogID="<%= blog._id %>" data-action="edit">Sửa</div>
                                <div class="dropdown-item" onclick="deleteBlog(this)" data-blogID="<%= blog._id %>" data-userID="<%= blog.userID %>">Xóa</div>
                            </div>
                        </div>
                    <% } %> 
                </div>
                <!-- Nội dung -->
                <div class="text-justify">
                    <p>
                        <%= blog.content %> 
                    </p>
                    <% if(blog.image) {%> 
                        <div class="text-center">
                            <img src="<%= blog.image %> " alt="Blog image" class="img-fluid">
                        </div>
                    <% } %> 
                    <% if(blog.video) {%> 
                        <div class="text-center">
                            <iframe width="498" height="280" src="//www.youtube.com/embed/<%= blog.video %> " frameborder="0" allowfullscreen></iframe>
                        </div>
                    <% } %> 
                    
                </div>
                <!-- like/comment -->
                <div class="d-flex justify-content-between my-2">
                    <i class="bi bi-hand-thumbs-up"><span id="like-number-<%= blog._id %>"><%= blog.like %></span> lượt thích</i>
                    <i><span id="comment-number-<%= blog._id %>"><%=blog.comments.length%></span> bình luận</i>
                </div>
    
                <!-- button like/comment -->
                <hr class="mt-3 mb-1">
                <div class="d-flex justify-content-around my-2">
                    <button type="button" class="btn btn-outline-secondary" onclick="likeBlog('<%= blog._id %>')"><i class="bi bi-hand-thumbs-up">&nbsp;Thích</i></button>
                    <button type="button" class="btn btn-outline-secondary" onclick="showComment('blog-<%= blog._id %>')"><i class="bi bi-chat-left">&nbsp;Bình luận</i></button>
                </div>

                <!-- comment -->
                <div class="home-comment" id="blog-<%= blog._id %>">
                    <hr class="mb-3 mt-1">
                    <!-- use AJAX to comment -->
                    <form action="javascript:void(0);" method="POST">
                        <div class="d-flex d-row">
                            <img class="mr-2 rounded-circle" src="<%= user.avatar %> " alt="Avatar user" width="35px" height="35px">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Viết bình luận..." id="comment-<%= blog._id %>">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" onclick="commentTo('<%= blog._id %>')">Gửi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- all comment -->
                    <div class="d-flex flex-column-reverse" id="all-comment-<%= blog._id %>">
                        <% blog.comments.forEach(comment => { %>
                            <div class="mt-3 d-flex d-row" id="comment-id-<%= comment._id %> ">
                                <img class="mr-2 rounded-circle mt-2" src="<%= comment.userAvatar %> " alt="Avatar user" width="35px" height="35px">
                                <div class="flex-column p-2 border rounded">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column">
                                            <a href="/user/profile/<%= comment.userID %>" class="text-dark"><b class="text-sm pt-1"><%= comment.userName %></b></a>
                                            <p class="text-secondary fs-smaller"><%= comment.create_on %></p>
                                        </div>
                                       
                                        <% if (user._id == comment.userID) { %> 
                                            <div class="dropdown">
                                                <button type="button" class="btn bi bi-three-dots rounded-pill" data-toggle="dropdown"></button>
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-item" onclick="deleteComment(this)" data-commentID="<%= comment._id %>" data-userID="<%= comment.userID %>">Xóa</div>
                                                </div>
                                            </div>
                                        <% } %> 
                                    </div>
                                    <p class="text-justify"><%= comment.comment %> </p>
                                </div>
                            </div>  
                        <% }) %> 
                    </div>
                    
                   
                </div>
            </div>
        <% }) %> 
        
        <!-- End bài viết -->
        
    </div>

</div>

<!-- Thêm video -->
<div class="modal" id="addVideoDialog">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title text-center">Thêm video YouTube</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <input class="w-100 border rounded p-2" id="add-video" type="text" placeholder="Nhập link video YouTube...">
                
                <div class="p-1 mt-2 bg-danger text-white rounded video-error text-center">Link không hợp lệ</div>
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-confirm-edit" onclick="confirmAddVideo()">Thêm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
    
        </div>
    </div>
</div>

<!-- Thêm ảnh -->
<div class="modal" id="addImageDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Thêm hình ảnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="custom-file">
                    <!-- accept dùng để chỉ cho chọn loại file tương ứng -->
                    <input accept="image/*" type="file" class="custom-file-input" id="customFile" name="image" onchange="changeImage()">
                    <label class="custom-file-label text-truncate" for="customFile">Chọn hình ảnh</label>
                    <div name="userID" hidden><%= user._id %></div>
                </div>
            </div>
    
            <div class="modal-footer">
                <button type="button" onclick="confirmAddImage()" class="btn btn-success btn-confirm-add">Thêm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
    
        </div>
    </div>
</div>

<!-- xóa bài viết -->
<div class="modal" id="deleteBlogDialog">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title text-center">Xoá bài viết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <div class="modal-body">
                Bạn có chắc muốn xóa bài viết này?
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-confirm-delete" onclick="confirmDeleteBlog(this)">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
    
        </div>
    </div>
</div>

<!-- xóa bình luận -->
<div class="modal" id="deleteCommentDialog">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title text-center">Xoá bình luận</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <div class="modal-body">
                Bạn có chắc muốn xóa bình luận này?
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-confirm-delete" onclick="confirmDeleteComment(this)">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
    
        </div>
    </div>
</div>