<div class="row pt-5 pl-3">
    <div class="col-md-12 mb-3 text-center">
        <h3>Thông tin tài khoản</h3>
        
    </div>
    <!-- avatar -->
    <div class="col-lg-3 profile-avatar">
        <img id="profile-avatar" class="rounded-circle" src="<%= user.avatar %> " alt="user avatar">
        <% if (user.role == 'student') { %> 
            <div id="profile-btn-avatar">
                <button type="button" class="btn btn-outline-dark edit-btn" onclick="editAvatar(this)">Thay đổi avatar</button>
            </div>
        <% } %> 
    </div>
    <!-- Profile -->
    <div class="col-lg-9">
        <table class="table table-hover text-decoration-line-through">
            <tbody>
                <tr>
                    <th scope="row">Tên</th>
                    <td><%= user.name %></td>
                    <td></td>
                </tr>
                <!-- Thông tin học sinh -->
                <% if (user.role == 'student') { %> 
                    <tr>
                        <th scope="row" >Tên hiển thị</th>
                        <td><%= (user.nickName) ? user.nickName : 'Bạn vẫn chưa đặt tên hiển thị' %></td>
                        <td><a href="javascript:;" class="edit-btn" onclick="editInfo(this)" data-action="nickName" data-attr="tên hiển thị">Chỉnh sửa</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><%= user.email %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Lớp</th>
                        <td><%= (user.class) ? user.class : 'Bạn vẫn chưa cho biết lớp' %></td>
                        <td><a href="javascript:;" class="edit-btn" onclick="editInfo(this)" data-action="class" data-attr="lớp">Chỉnh sửa</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Khoa</th>
                        <td><%= (user.department) ? user.department : 'Bạn vẫn chưa cho biết Khoa' %></td>
                        <td><a href="javascript:;" class="edit-btn" onclick="editInfo(this)" data-action="department" data-attr="khoa">Chỉnh sửa</a></td>
                    </tr>
                <% } %> 
                <!-- Thông tin phòng ban -->
                <% if (user.role != 'student') { %>
                    <tr>
                        <th scope="row">Tên tài khoản</th>
                        <td><%= user.username %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Mật khẩu</th>
                        <td>********</td>
                        <td><a href="/user/change-password">Chỉnh sửa</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Quản lý nội dung</th>
                        <td>
                            <% if (user.role == 'admin') { %> 
                                Tất cả phòng ban
                            <% } else { user.department.forEach(department => { %>
                                    <%= department.department %> 
                                    <br>
                            <% })} %>
                        </td>
                        <td></td>
                    </tr>
                <% } %> 
            </tbody>
        </table>
        <hr class="profile-hr">
    </div>
</div>

<!-- Chỉnh sửa tên, lớp, khoa -->
<div class="modal" id="editDialog">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title text-center">Cập nhật <strong id="modal-title"></strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <input class="w-100 border rounded p-2" id="edit-data" type="text" placeholder="Nhập thông tin...">
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-confirm-edit" onclick="confirmEdit(this)" data-id="<%= user._id %>">Sửa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
    
        </div>
    </div>
</div>
<!-- Chỉnh sửa ảnh đại diện -->
<div class="modal" id="editAvatarDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="/user/setting/avatar">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Cập nhật ảnh đại diện</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="custom-file">
                        <!-- accept dùng để chỉ cho chọn loại file tương ứng -->
                        <p name="userID" hidden><%= user._id %></p>
                        <input accept="image/*" type="file" class="custom-file-input" id="customFile" name="image" onchange="changeImage()">
                        <label class="custom-file-label text-truncate" for="customFile">Chọn ảnh đại diện</label>
                        
                    </div>
                </div>
        
                <div class="modal-footer">
                    <button type="submit" onclick="confirmEditAvatar()" class="btn btn-success btn-confirm-edit">Sửa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
    
            </form>
        </div>
    </div>
</div>